.nameFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px !important;
}

.actions {
  padding: 0 24px 16px !important;
}
