.cardContent {
  display: grid;
  gap: 1rem;
}

.paddedCardContent {
  padding-top: 1.5rem;
}

.card {
  width: 100%;
  max-width: 448px;
}

.link {
  font-size: 0.875rem;
  color: var(--primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
