@use '@/styles/shared' as ds;

.cardContent {
  display: grid;
  gap: 1rem;
}

.paddedCardContent {
  padding-top: 1.5rem;
}

.card {
  width: 100%;
  max-width: 448px;
}

.link {
  @include ds.primary-text-link;
}
