@use '@/styles/shared' as ds;

.forgotPasswordRow {
  text-align: right;
}

.forgotPasswordLink {
  @include ds.primary-text-link;
}

.formStack {
  @include ds.form-stack;
}

.socialButtons {
  display: grid;
  gap: 0.5rem;
}
