.navLink {
  padding: 12px 16px;
  border-radius: 4px;
  color: var(--primary-foreground);
  font-weight: 400;
  transition: background-color 200ms;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navLinkActive {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.navbar {
  color: var(--primary-foreground);
  background-color: var(--primary);
}

.toolbar {
  justify-content: center;
  gap: 4px;
  padding-inline: 16px;
}
